@font-face {
    font-family:font1 ;
    src: url(./Audrey-Normal.otf);
}
@font-face {
    font-family:font2;
    src: url(./Concetta\ Kalvani\ Signature.ttf);
}
@font-face {
    font-family:font3 ;
    src: url(./Crimson-Roman.otf);
}
@font-face {
    font-family:font4 ;
    src: url(./Crimson-Roman.ttf);
}
