@import url(./fonts/fonts.css);
.cnt {
    background-color:#dabb9c;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 65px auto 360px;
    grid-template-areas: "nav nav nav "
    "lmenu resume img";
    align-content: center;
}

#nav {
    grid-area: nav;
    background-color:  #c3b091;
    position: sticky;
    top: 0;
}

#img {
    grid-area: img;
    background-color: #dabb9c;
    width: 100%;
}

#menu {
    grid-area: lmenu;
    width: 65px;
    background-color: #c3b091;
}

#resume {
    grid-area: resume;
    width: 100%;
    background-color:#c19a6b;
}
@media screen and (max-width:800px){
    .cnt {
        display: grid;
        grid-gap: 5px;
        grid-template-columns:auto;
        width: 100%;
        grid-template-areas:" resume";
        align-content: center;
    }
    #menu,#img,#nav{
        visibility: hidden;
    }
}
