@import url(./fonts/fonts.css);
body{
    padding: 0px;
    margin: 0;
}
.content-header {
    color: #362616;
    font-family: "font1";
    font-size: 90px;
}

.body-content {
    text-align: center;

}
.contact-png{
    width: 40px;
    height: 40px;
}

.table-of-contact{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
.table-of-skills{
    font-size: 35px;
    text-align: left;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.info{
    font-family: "font4";
    color:#664524;
    /* min-height: 400px; */
    height: 100vh;
    font-size: 40px;
}
#test{
    width: 200px;
    height: 200px;
}
