#my-img
{
    background-color:#dabb9c;
    height: 100vh;
    justify-content: center;
    position: sticky;
    top: 65px;
    display: flex;
    padding-left: auto ;
    padding-right: auto ;
}
#test{
    background-color:#dabb9c;
    width: 100%;
    height: 100vh;
    justify-content: center;
    position: sticky;
    top: 65px;
    display: flex;
    
}