@import url(./fonts/fonts.css);
#nav-links {
    position: sticky;
    top: 0;
}

.list {
    text-align: center;
    list-style-type: none;
}

.list li {
    display: inline-block;
}

.a-links {
    padding: 14px 50px;
    font-size: 20px;
    font-family: "font1";
    text-decoration: none;
}

.a-links:hover {
    font-style: italic;
    color: oldlace;
}